<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="JournalDBEntities" connectionString="metadata=res://*/DomainModel.Entities.JournalModel.csdl|res://*/DomainModel.Entities.JournalModel.ssdl|res://*/DomainModel.Entities.JournalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;d:\#Documents\Visual Studio 2015\Projects\TestAndTunes\DB\JournalDB.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
  <!--<add name="JournalDBEntities" connectionString="metadata=res://*/JournalModel.csdl|res://*/JournalModel.ssdl|res://*/JournalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;d:\#Documents\Visual Studio 2015\Projects\TestAndTunes\DB\JournalDB.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="JournalDBEntities" connectionString="metadata=res://*/JournalModel.csdl|res://*/JournalModel.ssdl|res://*/JournalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=UNSKSERVER;initial catalog=JOURNALDB;persist security info=True;user id=unsknet;password=yhnbgt;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>